{% extends "base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Contact Us</h1>
                    <p class="card-text">
                        Thank you for visiting our website. If you have any questions, suggestions, or feedback, please feel free to contact us using the information below:
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>Address:</h5>
                            <p>123 Hospital Street</p>
                            <p>City, State, ZIP Code</p>
                        </li>
                        <li class="list-group-item">
                            <h5>Email:</h5>
                            <p>info@example.com</p>
                        </li>
                        <li class="list-group-item">
                            <h5>Phone:</h5>
                            <p>(123) 456-7890</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
